apiVersion: apps/v1
kind: Deployment
metadata: 
  name: django-app
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
    spec:
      nodeSelector:
        kubernetes.io/hostname: kube-node001
      containers:
        - name: django
          image: sjm31566/djangoapp:${IMAGE_TAG}   # Jenkins가 자동으로 update
          ports:
            - containerPort: 8000
          env:
            - name: DB_HOST
              value: "postgres.dev.svc.cluster.local"
            - name: DB_PASSWORD
              value: "pass1234"
